<!DOCTYPE html>
   {%load static%}

<html lang="en">
<head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Jobs Information</title>
                <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
     <div class="container">
     <div class="main">
        <h1>Welcome To JobsPortal</h1>
        <p>continues Job Updates For Every Hour......</p>
        <a class="btn btn-primary btn-lg" href="hyd/">Hyderabad Jobs</a> &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="pune/">Pune Jobs</a> &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="bang/">Bangalore Jobs</a>
    </div>
    
</body>
</html>